.list-student-container {
    .list-student-content {
        .child {
                width: 800px;
                margin: 0 auto;
                height: 40px;
                border: 1px solid grey;
            }
    }
}

